#addFieldBtn {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.input-group {
  margin-bottom: 5px;
}

